@model IEnumerable<HeartFailureReaddminssion.Models.WorkflowTracking.WorkflowInstanceEventsTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkflowInstanceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkflowActivityDefinition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraceLevelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExceptionDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerializedAnnotations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkflowInstanceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkflowActivityDefinition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraceLevelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExceptionDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerializedAnnotations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeCreated)
        </td>
        
    </tr>
}

</table>
