@model HeartFailureReaddminssion.Models.PhoneCall

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhoneCall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallsMade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallsMade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCallDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCallDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstCallUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstCallUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientReached)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientReached)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientResponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientResponse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
