@model IEnumerable<HeartFailureReaddminssion.Models.PhoneCall>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Phone Calls</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallsMade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastCallDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstCallUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientReached)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientResponse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallsMade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastCallDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstCallUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientReached)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientResponse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
